* {
    font-family: "Markazi Text";
    font-size: 1.02em;
}


/* table de l'index */
#myTable_wrapper{
    margin: 0 20px;
}


div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    margin-left: 50%;
    transform: translateX(-50%);
}

div.dt-container .dt-search input {
width: 300px;
}
