
    .content {
        display: flex;
        flex-direction: column;  
        background-color: #F5F5F5;
        
    }

    form {
        padding: 15px;
  
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 400px;
        min-width: 400px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

